<ion-view view-title="Store Name">
    <ion-modal-view id="view">        
        <ion-view view-title="Dashboard">
            <ion-content class="padding" id="container">
                <div ng-repeat="prod in scannedItems">
                    <div class="list card">
                        <div class="item item-divider">{{prod.name}} <span style=" right: 20px; positio
                  n: absolute;" ng-hide="!!!prod.count"> X {{prod.count}}  </span></div>
                        <div class="item item-body">
                            <div>
                                Price: <b>{{prod.price}}</b>
                            </div>
                            <div>
                                Description: <b>{{prod.desc}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
            <div class="list card" id="btnGroup">
                <button id="scanbtn" class="button button-positive" ng-click="scan()">Scan items</button>
                <button id="cancelbtn" class="button button-assertive" ng-click="cancel()">Cancel </button>
            </div>
        </ion-view>
</ion-view>
</ion-modal-view>
