
<ion-view view-title="Support &amp; Feedback">
    <ion-content>
        <div class="list">
            <ion-nav-bar class="bar-positive">
                <ion-nav-buttons side="left">
                    <a href="#/menu/home">
                        <button class="button button-icon button-clear ion-arrow-left-c " menu-toggle="left">
                        </button>
                    </a>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-scroll zooming="true" id="account-content" direction="y" style="width: 100%; max-height: 1200px">
                <div class="list">
                    <div class="has-header notificationContent helpContent shareContent faqContent">
                        <div class="card" ng-repeat="item in faqs"
                         ng-click="hideShow(item)" ng-class="{active:(item.show==0)}" on-last-repeat>
                            <p class="title">
                                {{::item.q}}
                            </p>
                            <p class="description">
                                {{::item.a}}
                            </p>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>

