#scanning-area {
    height: 250px;
    margin: 10px 10px;
}

#cart {
    height: 35%;
    margin: 10px 10px;
}

#cart > ion-scroll {
    height: 84% !important;
}

#checkout {
    height: 10%;
    margin: 10px 10px;
}

#header-name {
   /*  left: -29px;
   position: relative; */
}

.cart-item {
    padding: 5px 29px 5px 5px !important;
}

#cart-total {
    text-align: center;
}

.dont-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#pull-right{
    position: absolute;
    top: 9px;
    right: 5px;
    bottom: 5px;
}
