<div class="bar bar-header bar-positive">
    <h1 class="title"><a>  <i ng-click="goBack()" class="ion-arrow-left-c pull-left"> </i> </a><div id="header-name">Your Invoice</div></h1>
</div>
<ion-content id="invoice-page">
    <div class="list">
        <div class="has-header invoice-list">
            <div class="card">
                <div class="item item-divider">
                    Shop : Heritage
                </div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col col-50">Buyer Name:</div>
                        <div class="col col-50">{{Object.firstname}} {{Object.lastname}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Purchase Date:</div>
                        <div class="col col-50">{{date}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50"> Order No.:</div>
                        <div class="col col-50"> {{orderId}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">No. of items:</div>
                        <div class="col col-50"> {{totalItems}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Total Amount:</div>
                        <div class="col col-50">Rs {{total}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50"> Discount Applied:</div>
                        <div class="col col-50">- Rs {{discount}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Paid amount:</div>
                        <div class="col col-50">Rs {{total}}</div>
                    </div>
                </div>
            </div>
            <div class="card item-list" id="item-padding">
                <div class="item item-divider">
                    List of items
                </div>
                <ul class="list">
                    <li class="item" ng-repeat="prod in scannedItems">
                        <div class="row">
                            <div class="col col-67 dont-wrap" href="#">{{prod.name}}</div>
                            <div class="col col-20">
                                {{prod.quantity}}
                            </div>
                            <div class="col col-10">
                                Rs {{prod.price}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>
<div class="bar bar-footer" id="page-footer">
    <button class="button button-full button-assertive">
        Email Invoice
    </button>
</div>
