   #search-header .item.item-input.item-select {
       height: 44px;
       width: 90%;
       z-index: 10;
       background-color: #387ef5;
       border-color: #387ef5;
   }
   
   #search-header {
       padding-top: 0px;
   }
   
   #store-name {
       padding: 12px 80px;
       font-weight: 700;
       position: relative;
   }
   
   .bar-stable.bar-positive.bar.bar-header.disable-user-behavior {
       width: 11%;
   }
   
   .item.item-input.item-select select.search-values {
       background-color: #387ef5;
       color: white;
       max-width: 100%;
       direction: initial;
       right: inherit;
   }
   
   #menu-content {
       top: 80px;
   }
   
   #user-id {
       height: 80px;
   }
   
   #user-id h8 {
      
   }
   
   .menu-items {
       padding: 10px 0;
   }
   
   #user-mobile {
          padding: 5px 0 5px 20px;
   }
   
   #user-name {
       width: 100%;
       padding: 5px 0 5px 20px;
       font-size: 16px;
       font-weight: 700;
   }
