#store-page {
    top: 35px;
    position: relative;
}

#store-scroll> .scroll {
    height: 100%;
}

#item-store {
    margin: 0;
    padding: 0;
}

#item-store .button {
    font-size: 13px;
    border-radius: 20px;
}

.filter-bar {
    width: 95% !important;
    top: 56%;
    margin: 0px 10px;
}

#store-list {
    top: 42px;
    position: relative;
}

#card2 {
    position: relative;
    top: 10%;
    height: 7%;
}

#card1 {
    height: 40%;
    text-align: center;
}

#radio-list {
    width: 351px;
}

#continuebtn {
    text-align: center;
    margin-bottom: 70px;
}

.radio-items {
    item-height: 10px;
}

#item-lists1 {
    top: 80px;
}
#card1 > img{
    padding: 5px;
    width: 90%;
}
.ion-arrow-left-c.pull-left{
    position: absolute;
    left: 0;
}