<ion-view view-title="Support &amp; Feedback">
    <ion-content>
        <div class="list">
            <ion-nav-bar class="bar-positive">
                <ion-nav-buttons side="left">
                    <a href="#/menu/home">
                        <button class="button button-icon button-clear ion-arrow-left-c " menu-toggle="left">
                        </button>
                    </a>
                </ion-nav-buttons>
            </ion-nav-bar>
            <div id="feedback-content" class="padding has-header">
                <div class="card" id="faq-p">
                    <p>
                      Want to tell us something or Got some feedback to share?
                      if you are facing any issue do write us so that we can provide our best services. 
                    </p>
                    <form ng-submit="sendFeedBack()">
                        <textarea ng-model="feedback" rows="5" placeholder="Shout it all out here"></textarea> 
                        <button class="button button-positive  button-block" ng-hide="isUpdateBtnHidden" ng-click="update(Object)">SUBMIT</button>
                </label>                    
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
    </<ion-view>
