<ion-view class="fancy-select-items modal">
    <div class="list list-inset bar-header">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="keyword">
        </label>
    </div>
    <ion-content direction="y" scrollbar-y="true" id="item-lists1">
        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
        </ion-refresher>
        <ion-list>
            <div>
                <div ng-repeat="item in items | filter:keyword">
                    <ion-radio class="radio-items" ng-model="choice" ng-if="!multiSelect" ng-click='validate(item)' ng-value="'A'">
                        <p>{{item.text}}</p>
                    </ion-radio>
                </div>
            </div>
        </ion-list>
        <div ng-if="items !== undefined && !items.length" class="no-results">
            <p>No Results</p>
        </div>
    </ion-content>
</ion-view>
