<ion-modal-view id="view">
    <div class="bar bar-header bar-positive">
        <h1 class="title"><a> <i ng-click="goBack()" class="ion-arrow-left-c pull-left"> </i> </a><div id="header-name">Tell us your location? </div></h1>
    </div>
    <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%" id="store-scroll">
        <ion-content>
            <ion-view id="store-page">
                <!-- <div class="bar bar-header bar-balanced">
            <h1 class="title">bar-balanced</h1>
        </div> -->
                <div class="card" id="card1">
                    <img src="img/store.jpg">
                </div>
                <div class="card">
                    <fancy-select header-text="Select an option" text="{{cityvalue}}" items="cities" icon-property="icon" value-property="text" text-property="text" allow-empty='true' multi-select="false" text="Select City" modal-template-url="modules/location/views/fancy-select-items.html" template-url="modules/location/views/store-list.html" value-changed="citySelected(value)" get-custom-text="getCustomText(value)">
                    </fancy-select>
                </div>
                <div class="card" ng-show="showAreaSelector">
                    <fancy-select  header-text="Select an option" text="{{areavalue}}" items="areas" icon-property="icon" value-property="text" text-property="text" allow-empty='true' multi-select="false" text="Select Area" modal-template-url="modules/location/views/fancy-select-items.html" template-url="modules/location/views/store-list.html" value-changed="areaSelected(value)" get-custom-text="getCustomText(value)">
                    </fancy-select>
                </div>
                <div class="card" ng-show="showStoreSelector">
                    <fancy-select id="storesel" header-text="Select an option" items="stores" text="{{storevalue}}" icon-property="icon" value-property="text" text-property="text" allow-empty='true' multi-select="false" text="Select Store" modal-template-url="modules/location/views/fancy-select-items.html" template-url="modules/location/views/store-list.html" value-changed="storeSelected(value)"  get-custom-text="getCustomText(value)">
                    </fancy-select>
                </div>                
                <div id="continuebtn" class="padding">
                    <button class="button button-positive button-block " ng-disabled="!isContinueEnabled" on-touch="loadHome()">Continue</button>
                </div>
            </ion-view>
        </ion-content>
    </ion-scroll>
</ion-modal-view>
