#list-items.card.item-list {
      margin-top: 50px;
}

#list-items > ion-scroll {
    height: 94% !important;
}

#list-items {
    height: 54%;
    margin: 10px 10px;
}

#list-items .item {
    padding: 6px 18px 6px 1px !important;
}

#payable-items {
    padding: 5px 15px;
}

#review-content .list {
    position: relative;
}

#invoice-desc {
  
}

.col-65 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}
