<ion-modal-view id="view">
    <div class="bar bar-header bar-positive">
        <h1 class="title"><a>  <i ng-click="goBack()" class="ion-arrow-left-c pull-left"> </i> </a><div id="header-name">Review Your Cart</div></h1>
    </div>
    <ion-view id="review-content">
        <div class="card item-list" id="list-items">
            <ion-scroll zooming="true" class="item" direction="y" style="width: 100%; height: 100%">
                <li class="item item-divider">
                    List of items
                </li>
                <ul class="list">
                    <li class="item" ng-repeat="prod in scannedItems">
                        <div class="row">
                            <div class="col col-65 dont-wrap" href="#">{{prod.name}}</div>
                            <div class="col col-20">
                                {{prod.quantity}}
                            </div>
                            <div class="col col-15">
                                Rs {{prod.price}}
                            </div>
                        </div>
                    </li>
                </ul>
            </ion-scroll>
        </div>
        <div class="list">
            <div class="item item-text-wrap" id="payable-items">
                <ion-scroll zooming="true" id="invoice-desc" direction="y" style="width: 100%; height: 100%">
                    <div class="row">
                        <div class="col col-50">Mailer details :</div>
                        <div class="col col-50"> {{mailId}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">No. of items :</div>
                        <div class="col col-50"> {{totalItems}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Cart Total :</div>
                        <div class="col col-50">Rs {{total}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Discount applied :</div>
                        <div class="col col-50"> Rs {{discount}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Total Payable :</div>
                        <div class="col col-50"> Rs {{total}}</div>
                    </div>
                </ion-scroll>
            </div>
        </div>
        <label class="bar bar-footer" id="page-footer">
            <button class="button button-full button-positive button-small" ng-click="confirmPayment()">Proceed to Payment</button>
        </label>
    </ion-view>
    </ion-model-view>
