.notificationContent {
    color: #56656c;
    padding-top: 10px;
    padding-bottom: 58px;
    background-color: #f1f5f7;
    box-sizing: border-box;
    
}

p.description,
p.title {
    padding: 4px;
}
ion-scroll[direction=y] {
  height: 100vh;
}
p.title {
    font-size: 15px;
    font-weight: 800;
}

.notificationContent .notification {
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 9pt;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 #BBB;
    margin-bottom: 10px;
    clear: both
}

.notificationContent .notification:first-child {
    margin-top: 15px
}

.notificationContent .notification .left-bar {
    position: absolute;
    width: 5pc;
    height: 100%;
    left: 0;
    top: 0
}

.notificationContent .notification .left-bar .icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: relative;
    left: 10px;
    top: 10px;
    background-color: #754de6;
    background-image: url(../assets/notification-love-09.png);
    background-position: center;
    background-size: 17.5px 16.5px
}

.notificationContent .notification .left-bar .icon.share {
    background-color: #5677fc;
    background-image: url(../assets/notification-share.png);
    background-size: 17px 17px
}

.notificationContent .notification .left-bar .icon.avail {
    background-image: url(../assets/notification-love.png);
    background-size: 18px 1pc
}

.notificationContent .notification .right-bar {
    padding-left: 5pc;
    position: relative;
    padding-right: 10px
}

.notificationContent .notification .right-bar .phone-icon {
    display: block;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: -4px;
    height: 21px;
    width: 21px;
    background-image: url(../assets/notification-call.png);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.notificationContent .notification .right-bar .phone-icon.active,
.notificationContent .notification .right-bar .phone-icon:active,
.notificationContent .notification .right-bar .phone-icon:hover,
.notificationContent .notification .right-bar .phone-icon:link,
.notificationContent .notification .right-bar .phone-icon:visited {
    text-decoration: none;
    color: transparent
}

.notificationContent .notification .right-bar .title {
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    padding-right: 21px
}

.notificationContent .notification .right-bar .description {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis
}

.notificationContent .card p.description {
    display: none;
}

.notificationContent .card.active p.description {
    display: block !important;
}
