<ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%" id="view">
    <div id="logo">
        <img src="img/just-snipebills.png">
    </div>
    <div id="login-scroll">
        <ion-content id="loginform">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="data.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit"  on-touch="onTouch(data)">Log in</button>
                    <button class="button  button-clear button-positive" id="forgot-btn" on-touch="resetPassword(data)">Forgot password</button>
                </label>
                <label class="item" id="register-item">
                    <div>Don't have account yet</div>
                    <br>
                    <button class="button button-positive button-clear" id="register-btn" ng-click="register()" id="registerbtn">Create account </button>
                </label>
            </div>
        </ion-content>
</ion-scroll>
<!--  <div class="bar bar-footer">    
       <div class="title">SnipeBills Pvt. ltd all rights reserved, 2015</div>      
   </div> -->
<!-- <footer id="footer">
        SnipeBills all rights reserved, 2015
    </footer> -->
