#logo {
    text-align: center;
    padding-top: 15px;
    position: relative;
    top: -8px;
}

#logo img {
    width: 225px;
    z-index: 3;
}

#loginform {
    height: 500px;
}

#view {
    background: rgba(239, 239, 245, 0.48);
}

a {
    color: #428bca;
    text-decoration: none;
}

#footer {
    padding: 10px 80px;
    position: absolute;
    bottom: 0;
}

.item button {
    width: 100%;
}

.bar.bar-footer .title {
    font-size: 17px !important;
}

#login-scroll {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
}

#register-btn {
    text-decoration: underline;
    margin: -20px 0 0 0;
}

#forgot-btn {
    text-decoration: underline;
    margin: -7px 0 0 0;
}

#register-item {
    text-align: center;
}
