<div class="splashPage">
	<div class="contentBox">
		<div class="gift">			
		</div>
		<div class="primaryText">
			
		</div>
		<div class="secondaryText">
			
		</div>
	</div>
	<div class="loader mini">
		<!-- <img src="assets/loader.gif" alt="Loading">  -->
		<div class="text"></div>
	</div>
</div>