<ion-modal-view id="view">
    <div class="bar bar-header bar-positive">
        <h1 class="title"><a>  <i ng-click="goBack()" class="ion-arrow-left-c pull-left"> </i> </a><div id="header-name"> Payment gateway </div></h1>
    </div>
    <ion-view>
        <div class="" id="payment-confirmation">
            <div class="list list-inset">

                <div class="item">
                    Payment successful 
                </div>                
                <div class="item">
                    <h4>Your Invoice is on your way to MailBox.</h4>
                </div>
                <div class="item">
                    <h2>Thanks for shopping with us.</h2>
                </div>
            </div>
        </div>
    </ion-view>
    </ion-model-view>
