#items-container{
	width: 90%;
}
#product-name{
	padding: 15px 29px;
    margin: -20px;
}
.pane ion-drawer-vertical-wrapper{
    height: 80%;
}
ion-drawer-vertical-wrapper.up.has-footer {
    bottom: 110px !important;
}
ion-drawer-vertical-handle{
	position: inherit !important;
	height: 0px !important;
}
#shoppingbtn-row{
	margin: 0;
}
    