<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <!-- <div class="list" id="search-header">           
                <div class="bar bar-header bar-positive" id="store-name">{{testStoreVal}}</div>
        </div> -->
        <ion-nav-bar class="bar-stable bar-positive">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable" id="user-id">
        <div class="list">
            <div class="row">
                <div class="col col-100" id="user-name">
                    {{user}}</div>
            </div>
            <div class="row row-bottom">
                <div class="col col-100" id="user-mobile">
                    <h8> {{mobileno}}</h8>
                </div>
            </div>   </div>
        </ion-header-bar>
        <ion-content id="menu-content">
            <ion-list>
                <ion-item menu-close>
                    <div class="menu-items " ng-click="account()"><i class="padding-right ion-person" ></i>  Account</div>
                    <div class="menu-items " ng-click="OrderHistory()"><i class="padding-right ion-ios-cart-outline"></i>  Order History</div>
                    <div class="menu-items " ng-click="changeLocation()"><i class="padding-right ion-ios-location-outline"></i>  Change Location</div>
                </ion-item>
                <ion-item menu-close>
                    <div class="menu-items " ng-click="feedback()"><i class="padding-right ion-ios-paper-outline"></i>   Give Feedback</div>
                     <div class="menu-items" ng-click=""><i class="padding-right ion-ios-star-outline"></i> Rate Us</div>                    
                    <div class="menu-items " ng-click="faqs()"><i class="padding-right ion-ios-help-outline"></i>  FAQs</div>
                    <div class="menu-items " ng-click="contactus()"><i class="padding-right ion-ios-telephone-outline"></i>  Contact us</div>
                    <div class="menu-items " ng-click="logout()"><i class="padding-right ion-log-out"></i>  Log Out</div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
