<ion-modal-view id="view">
    <div class="bar bar-header bar-positive">
        <h1 class="title"><a><i ng-click="goBack()"class="ion-arrow-left-c pull-left"> </i> </a>
                <div id="header-name">SnipeBills</div></h1>
    </div>
    <div mfb-menu  on-drag-right="onDragRight()" on-drag-left="onDragLeft()" ng-class="{'mfb-component--bl':!togglebtn,'mfb-component--br': togglebtn}" effect="zoomin" label="Stop Scanning" active-icon="ion-close-round" resting-icon="ion-qr-scanner" menu-state="scanbtn" ng-click="handleCamera()" toggling-method="click">
    </div>
    <ion-view id="store-page">
        <div class="card" id="scanning-area">
            <div class="item">Tap on button to start scanning</div>
        </div>
        <div class="card" id="cart">
            <div class="item item-divider bar">
                Your Cart
                <div id="pull-right">Total price Rs {{ cartTotal}}</div>
            </div>
            <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">
                <ul class="list">
                    <li class="item cart-item" ng-repeat="prod in scannedItems">
                        <div class="row">
                            <div class="col col-50 dont-wrap" href="#">{{prod.name}}</div>
                            <div class="col col-20">
                                {{prod.quantity}}
                            </div>
                            <div class="col col-20">
                                Rs {{prod.price}}
                            </div>
                            <div class="col col-10">
                                <i class="ion-android-remove-circle" ng-click="decreaseProduct(prod)"></i> {{prod.count}}
                                <i class="ion-ios-plus-outline" ng-click="increaseProduct(prod)"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </ion-scroll>
        </div>
        <div class="card" id="checkout">
            <div class="item">                
                    <button class="button button-positive button-small" ng-click="checkout()">
                        Checkout
                    </button>                            
            </div>
        </div>
    </ion-view>
</ion-modal-view>
