.splashPage{
	background-size: 100% Auto;    
    background-image: url("../images/background.png");
    background-repeat: no-repeat;   
    margin-top: 50%;
    background-color: khaki;
}

.view-container{
	background-color: khaki;
}