textarea {
    width: 100%;
    border: 1px solid #D4D4D4;
    padding: 4px;
}

#faq-p {
    padding: 14px;
    font-size: 16px;
    line-height: 2;
}

#faq-p>p {
    font-weight: 600;
}

#feedback-content {
    position: relative;
}
