<div class="bar bar-header bar-positive">
    <h1 class="title"><a href="#/menu/home">  <i class="ion-arrow-left-c pull-left"> </i> </a><div id="header-name">Order History</div></h1>
</div>
<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Recent Orders" icon="ion-home" href="#/order/present">
        <ion-nav-view name="orders-present"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Past Orders" icon="ion-ios-information" href="#/order/past">
        <ion-nav-view name="orders-past"></ion-nav-view>
    </ion-tab>
</ion-tabs>