<ion-content id="invoice-page">
    <div class="list">
        <div class="has-header invoice-list">           
            <div class="card item-list" id="order-list">
              <!--  <div class="item item-divider">
                  List of items
              </div> -->
                <ul class="review-itemlist">
                    <li class="item" ng-repeat="prod in scannedItems" ng-click="openInvoice(prod)">
                        <div class="row">                            
                            <div class="col col-33 dont-wrap" href="#">Order Id</div>
                            <div class="col col-33">
                               Order Date
                            </div>
                            <div class="col col-20">
                               Total Paid
                            </div>
                            <div class="col col-10">       
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col col-33 dont-wrap order-desc"  ref="#">{{prod.id}}</div>
                            <div class="col col-33 order-desc">
                                {{prod.date}}
                            </div>
                            <div class="col col-20 order-desc">
                                Rs {{prod.price}}
                            </div>
                            <div class="col col-10">       
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>
<!-- <div class="bar bar-footer">
    <button class="button button-full button-assertive">
        Email Invoice
    </button>
</div> -->