<ion-content>
    <div class="list">
        <div class="bar bar-header bar-positive">
            <h1 class="title"><a>  <i ng-click="goBack()" class="ion-arrow-left-c pull-left"> </i> </a><div id="header-name"> Sign Up with SnipeBills </div></h1>
        </div>
        <form name="myForm" novalidate>
            <ion-scroll class="has-header" zooming="true" direction="y" style="width: 100%; height: 100%">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" required ng-model="object.email">
                </label>
                <div class="item item-input">
                    <label class="item-floating-label input-label">
                        <span class="input-label">First Name</span>
                        <input type="text" placeholder="First Name" ng-minlength="5" required ng-model="object.firstname">
                    </label>
                    <label class="item-floating-label input-label">
                        <span class="input-label">Last Name</span>
                        <input type="text" placeholder="Last Name" ng-model="object.lastname">
                    </label>
                </div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Mobile No</span>
                    <input type="number" placeholder="Mobile No(only 10 digits)"  ng-minlength="10" required ng-model="object.mobile">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password"  ng-minlength="6" required ng-model="object.password">
                </label>
                <label class="item item-input item-floating-label">
                    <span>Password Strength</span>
                    <div ng-password-strength="object.password" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-" class="ng-isolate-scope">
                        <div class="progress  progress-bar-alert">
                            <div class="progress-bar danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( value + '%' ) }" style="width: 0%;"><span class="sr-only ng-binding">0%</span></div>
                        </div>
                    </div>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" ng-click="register(object)" ng-disabled="myForm.$invalid">Create SnipeBills Account</button>
                </label>
        </form>
        </ion-scroll>
    </div>
</ion-content>
