  #heading{
  	padding: 20px 0;
    position: relative;
    text-align: center;
    height: 43px;
  }
  #heading>.title{      
  	   text-align: center;
  }
    
  #registerbtn .button{
    margin: 0 5px;
  }
 .progress.progress-bar-alert{
  margin: 15px 0;
  }

  .ion-arrow-left-c.pull-left{
    position: relative;
    width: 50px;
    height: 40px;
    z-index: 10;
  }