<ion-modal-view id="view">
    <ion-view>
        <div class="bar bar-header bar-positive">
            <h1 class="title">{{store.storeval}}</h1>
        </div>
        <div class="has-header">
            <ion-content class="padding" id="container">
                <div class="list card featured">
                    <div class="item item-divider">Today's Deals & Offers</div>
                    <div class="item item-body featured" id="items-container">
                        <ks-swiper-container initial-slide="1" slides-per-view="1" space-between="5" pagination-clickable="false" show-nav-buttons="false" loop="true" autoplay="5000">
                            <ks-swiper-slide class="swiper-slide" ng-repeat="product in home">
                                <img ng-src="{{product.home_image}}">
                            </ks-swiper-slide>
                        </ks-swiper-container>
                    </div>
                </div>
                <!--  <div class="item item-divider">Start shopping via clicking on Add items</div> -->
                <div class="item ">
                    <div class="row" id="shoppingbtn-row">
                        <button id="scanbtn" class="button button-positive" ng-click="startShopping()">Start shopping</button>
                        <!--  <div class="col">
                       <button id="cancelbtn" class="button button-assertive" ng-click="cancel()">Cancel </button>
                   </div> -->
                    </div>
                </div>
            </ion-content>
        </div>
    </ion-view>
</ion-modal-view>
