<ion-view view-title=" Your SnipeBills Account">
<ion-content>
    <div class="list">
        <ion-nav-bar class="bar-positive">
         <ion-nav-buttons side="left">
                <a href="#/menu/home"><button class="button button-icon button-clear ion-arrow-left-c " menu-toggle="left">
                </button></a>
            </ion-nav-buttons>
            <div class="title">
              </div>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar> 
              
        <ion-scroll zooming="true" id="account-content" direction="y" style="width: 100%; height: 100%">
            <label class="item item-input item-floating-label">
                <span class="input-label activated">Email</span>
                <input type="text" ng-model="Object.email" ng-disabled="true" placeholder="Email">
                </input>
            </label>
            <div class="item item-input">
                <label class="item-floating-label input-label">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-disabled="isFirstNamedisabled" placeholder="First Name" ng-model="Object.firstname">
                </label>
                <label class="item-floating-label input-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name" ng-disabled="isLastNamedisabled" ng-model="Object.lastname">
                </label>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Mobile No</span>
                <input type="number" ng-disabled="isMobileDisabled" placeholder="Mobile No (only 10 digits)" ng-model="Object.mobile">
            </label>           
            <label class="item">
                <button class="button button-positive" ng-hide="isUpdateBtnHidden" ng-click="update(Object)">Update SnipeBills Profile</button>
            </label>
        </ion-scroll>
    </div>
</ion-content>
</<ion-view>